.heading_container {
    margin: 20px 0;
}

.heading_container .heading_sub_container {
    border-radius: 0 10px 10px 0;
    display: inline-block;
    background-color: var(--primary-clr-2);
    /* box-shadow: 0 5px 8px #00000022; */
}

.heading_container .heading_sub_container2 {
    min-height: 80px;
    padding: 9px 36px 9px 20px;
}

.heading_container .heading_sub_container2 h1 {
    font-size: 36px;
    color: #ffffff;
}